<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Express Guestbook</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
  <img src="http://www.designbolts.com/wp-content/uploads/2014/03/Yellow-blur-background1.jpg" width="1028" height="570" style="position: absolute" ;>
  <div class="container" style="position:  relative">
    <h1>
      Express Guestbook
      <a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
    </h1>