<% include header %>

  <h2>Write a new entry</h2>

  <form method="post" role="form">

    <div class="form-group">
      </br>
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" placeholder="Title" required>
    </div>

    <div class="form-group">
      <label for="content">Write Something!</label>
      <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
    </div>

    <div class="form-group">
      <input type="submit" value="Post entry" class="btn btn-danger">
    </div>
  </form>
  <% include footer %>