<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hello, world</title>
</head>

<body>
  <h1>
    <%= message %>
  </h1>
  <ul>
    <li>Name :
      <%= myName %>
    </li>
    <li>Age :
      <%= age %>
    </li>
  </ul>
</body>

</html>